*{
    margin: 0px;
    padding: 0px;
}
.header-container{
    
    padding: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: rgb(18, 18, 18);
    color: white;
}
.logo-photo{
    width: 120px;
    margin-left: 5px;
    padding-left: 5px;
}
.item{
    display: flex;
    justify-content: space-around;
    padding: 10px 25px;
    margin: 10px;
    align-items: center;
    font-size: 12px;
    border: 2px solid rgb(59, 54, 54);
    cursor: pointer;
}
.item:hover{
    color: rgb(245, 147, 147);
}
.menu{
    display: flex;
}
.hole_banner{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    border: 2px solid black;
    background-image: url("./images/back_1.jpg");
    color: wheat;
    align-items: center;
    
    
    
}
.banner_img{
    width: 400px;
    height: 350px;
}
.discription{
    text-align: justify;
    color: rgb(255, 255, 255);
    
}
h2{
    padding-bottom: 10px;
}
h3{
    font-size: 30px;
    font-style: initial;
    margin: 15px
}
p{
    font-style: oblique;
    margin: 15px;
    
    font-size: 20px;
    text-align: justify;
}
.btn{
    margin: 10px;
    padding: 10px;
    font-style: italic;
    background-color: rgb(47, 42, 42);
    color: white;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    color: rgb(245, 147, 147);
}
h1{
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
}
#about{
    background-image: url("./images/back_1.jpg");
    height: 100vh;
    margin: 0px;
    padding: 0px;

}
#abou1{
    height: 100vh;
    background-image: url('./images/back_1.jpg'),linear-gradient(45deg,rgb(5, 5, 5), #2e2e2e);
}
.about{
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    height: 100vh;
    margin: 70px;
    padding: 50px;
}
.box{
    width: 400px;
    height: 450px;
    box-shadow: 4px 4px 15px gray;
    background-color: rgb(247, 242, 242);
    text-align: center;
    padding: 10px;
    color: rgb(8, 8, 8);
}
.service-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    margin-top: 70px;
    padding: 30px;
}
.icons{
    margin: 5px;
    padding: 5px;
}
.btnn{
    margin: 15px;
    padding: 25px;
    font-style: italic;
    background-color: rgb(47, 42, 42);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: medium;
}
.btnn:hover{
    color: rgb(245, 147, 147);

}
.footer{
    display: flex;
    justify-content: space-around;
    height: 70vh;
    background-image: url("./images/back_1.jpg");
    color: white;
}
.footer-box{
    height: 350px;
    width: 250px;
    border: none;
    /* box-shadow: 5px 5px 10px rgb(92, 88, 81); */
    margin-bottom: 15px;
    margin-top: 100px;
    font: italic;
    padding-right: 10px;
    margin: 100px;
}
.p{
    text-align: left;
    margin-top: 0px;
}
.logo-footer{
    width: 150px;
    margin: 20px;
    border: none;
    margin: 10px;
    padding-top: 10px;
}

.ul-list{
    margin: 10px;
    text-align: left;
    padding-top: 10px;
    list-style: none;
    margin-left: 30px;
}
#h3{
    font-size: 25px;
    font-style: inherit, bold;
    padding-top: 15px;
    margin-left: 30px;
    text-align: left;

}
.fp{
    font-size: 15px;
    margin-left: 30px;

}
#h1{
    text-align: center;
    padding-top: 20px;
    font-size: 55px;
    font-weight: bold;
    color: rgb(141, 116, 116);
}
.copy{
    text-align: center;
    padding: 15px;
    background-image: url("./images/back_1.jpg");
    color: white;
}
hr{
    margin: 55px;
    color: rgb(13, 12, 12);
}

